html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html,body,#container,#grid-main{
    min-height:100vh;
}

/*variables */
:root {
    --main-bg-color: rgb(10, 92, 95);
  }

  /*Grid Main layout*/

#grid-main{
    display:grid;
    grid-template:80px 1fr 80px / 1fr;
}


#header,#content,#footer{
    background-color:var(--main-bg-color);
}

/*Header*/
#header{
    display:flex;
    justify-content:center;
    gap:20px;
    padding-top:40px;
}

.button{
    width: 80px;
}

/*Content*/

#content{
    background-image: url("./img/rain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#content{
    display: flex;
    justify-content: center;
    padding:60px;
}

.generated{
    display:flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    background-color: var(--main-bg-color);
    width:50%;
}

.contentBlock{
    text-align: center;
}


/*Footer*/

