html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}



#grid-main{
    display:grid;
    grid-template:200px 200px 200px / 1fr;
}

#header,#content,#footer{
    border:solid 3px black;
}

#content{
    background-image: url("./img/pexels-pixabay-531880.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}